<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tipr - Website</title>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/forms-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/grids-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/menus-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/tables-min.css">

    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Tipr/web/css/main2.css">
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
</head>
<body class="pure-skin-tipr">

<div class="wrapper">
    <aside>
        <div class="logo">
            <h1>tipr</h1>
        </div>

        <ul>
            <li class="{% block overview %}{% endblock %}"><a href="{{ path('tipr_application_recipient_overview') }}"><i class="fa fa-signal"></i></a></li>
            <li class="{% block settings %}{% endblock %}"><a href="{{ path('tipr_application_recipient_settings') }}"><i class="fa fa-cogs"></i></a></li>
            <li><a href="{{ path('tipr_application_logoutRecipientProcess') }}"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </aside>
    {% block pageContent %}
    {% endblock %}
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script src="/Tipr/web/js/main2.js"></script>
<script src="/js/main2.js"></script>
</body>
</html>