{% extends "TiprApplicationBundle:Base:layout.html.twig" %}

{% set title = 'Donate' %}

{% block pageContent %}
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        {#<div data-theme="a" data-form="ui-body-a"#}
             {#class="ui-body ui-body-a ui-corner-all tipr-header tipr-separate tipr-image">#}
            <h2>No-one with that username exists</h2>
            {#<div class="overlay">#}
            {#<div class="userinfo">#}
            {#<h2>{{ recipient.username }}</h2>#}
            {#<p>{{ recipient.place }} - {{ recipient.activity }}</p>#}
            {#</div>#}
            {#<img src="http://lorempixel.com/400/300" alt="profile"/>#}
            {#</div>#}
            {#</div>#}
            {#<div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate tipr-header aboutme">#}
            {#<h3>A small thank you</h3>#}
        {#</div>#}
    </div>
{% endblock %}

