{% extends "TiprApplicationBundle:Base:layout.html.twig" %}

{% set title = 'Donate' %}

{% block pageContent %}
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <div data-theme="a" data-form="ui-body-a"
             class="ui-body ui-body-a ui-corner-all tipr-header tipr-separate tipr-image">
            <div class="overlay">
                <div class="userinfo">
                    <h2>{{ recipient.username }}</h2>
                    <p>{{ recipient.place }} - {{ recipient.activity }}</p>
                </div>
                <img src="http://lorempixel.com/400/300" alt="profile"/>
            </div>
        </div>
        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate">
            <p>Thank you for donating, in return I give you my new single on <a href="http://insightful.bandcamp.com/album/reminders">.mp3</a>. Have fun!</p>
        </div>

        {% if badge1 %}
        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate badge">
            <h4>Congrats, you have earned a new badge!</h4>
            <img src="/images/1donatie-big.png">
        </div>
        {% elseif badge2 %}
        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate badge">
            <h4>Congrats, you have earned a new badge!</h4>
            <img src="/images/5donatie-big.png">
        </div>
        {% elseif badge3 %}
        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate badge">
            <h4>Congrats, you have earned a new badge!</h4>
            <img src="/images/10donatie-big.png">
        </div>
        {% endif %}
    </div>
{% endblock %}

